<h2 class="section-title">🔍 Rechercher un Logement</h2>

<div class="search-container">
  <input [(ngModel)]="searchValue" placeholder="🔍 Référence ou Délégation" class="search-input" />
  <button class="btn btn-search" (click)="search()">Rechercher</button>
  <button class="btn btn-reset" (click)="loadLogements()">🔁 Réinitialiser</button>
</div>

<h2 class="section-title">🏠 Liste des Logements</h2>

<div style="text-align: center; margin-bottom: 10px;">
  <button class="btn btn-add" [routerLink]="['/logements/new']">➕ Ajouter un Logement</button>
</div>


<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Référence</th>
      <th>Adresse</th>
      <th>Déleguation</th>
      <th>Prix (DT)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let l of logements">
      <td>{{ l.reference }}</td>
      <td>{{ l.adresse }}</td>
      <td>{{ l.delegation }}</td>
      <td>{{ l.prix }}</td>
      <td>
        <button class="btn btn-details" [routerLink]="['/logements', l.reference]">📄 Détails</button>
        <button class="btn btn-supprimer" (click)="deleteLogement(l.reference)">🗑️ Supprimer</button>
        <button class="btn btn-rdv" [routerLink]="['/logement/rendezvous/', l.reference]">📅 Rendez-vous</button>
      </td>
    </tr>
  </tbody>
</table>
